@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;

}

body {
  background-color: #E0DDD3;
  margin: 0;
}

.alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #E4FFCA;
  width: 100%;
  text-align: center;
}

.alarm.error {
  background-color: #ff8d6f;
}

.main {
  margin-top: 55px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(114, 111, 111, 0.25);
  border-radius: 15px;
  padding: 40px 20px;
}

.wrapper__title * {
  text-align: center;
}

.wrapper__title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 5px 0
}

.wrapper__title h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.wrapper__wallet {
  display: block;
  margin: 35px 0;
}

.wrapper__wallet input {
  display: inline-block;
  background: #F9F9F9;
  border: 1px solid #7E7A7A;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}

.wrapper__claim {
  display: flex;
}

.wrapper__claim  .captcha {
  margin-right: 20px;
}

.wrapper__claim button {
  height: 75px;
  width: 80px;
  background: #7F3F5A;
  border-radius: 6px;
  color: #fff;
}

.footer {
  margin-top: 10px;
}